# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file
# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Examples
examples/application_commands/autocomplete.py       @Seniatical
examples/application_commands/bookmark.py           @Seniatical
examples/application_commands/echo.py               @Seniatical
examples/application_commands/highfive.py           @Seniatical
examples/components/confirm.py                      @Seniatical
examples/components/dropdowns.py                    @Seniatical
examples/components/links.py                        @Seniatical
examples/components/modals.py                       @Seniatical
examples/components/persistent.py                   @Seniatical
examples/components/tic-tac-toe.py                  @Seniatical
examples/misc/guess.py                              @sldless
examples/REST/raw.py                                @Seniatical

# Guides - No index

docs/source/guides/application_commands.rst         @Seniatical
docs/source/guides/components.rst                   @Seniatical
docs/source/guides/low_level_api.rst                @Seniatical
docs/source/guides/presences.rst                    @Seniatical
