/*
Original css code was from `pygments-css`.
Github URL: https://github.com/richleland/pygments-css
*/

pre {
	line-height: 125%;
    border-width: 0px !important;
    border: 0px !important;
    box-shadow: none !important;
    background-color: #202940;
}

td.linenos .normal {
	color: inherit;
	background-color: transparent;
	padding-left: 5px;
	padding-right: 5px;
}

span.linenos {
	color: inherit;
	background-color: transparent;
	padding-left: 5px;
	padding-right: 5px;
}

td.linenos .special {
	color: #ffffff;
	background-color: #ffffc0;
	padding-left: 5px;
	padding-right: 5px;
}

span.linenos.special {
	color: #ffffff;
	background-color: #ffffc0;
	padding-left: 5px;
	padding-right: 5px;
}

.highlight .hll {
	background-color: #ffffcc
}

.highlight {
	background: #f8f8f8;
}

.highlight .c {
	color: #8f5902;
	font-style: italic
}


/* Comment */

.highlight .err {
	color: #ff8a8a;
	border: 1px solid #ff8a8a
}


/* Error */

.highlight .g {
	color: #ff8a8a
}


/* Generic */

.highlight .k {
	color: #ff8a8a;
	font-weight: bold
}


/* Keyword */

.highlight .l {
	color: #d89832
}


/* Literal */

.highlight .n {
	color: #ffffff
}


/* Name */

.highlight .o {
	color: #ffffff;
	font-weight: bold
}


/* Operator */

.highlight .x {
	color: #ffffff
}


/* Other */

.highlight .p {
	color: #ffffff;
	font-weight: bold
}


/* Punctuation */

.highlight .ch {
	color: #8f5902;
	font-style: italic
}


/* Comment.Hashbang */

.highlight .cm {
	color: #8f5902;
	font-style: italic
}


/* Comment.Multiline */

.highlight .cp {
	color: #94ff62;
	font-style: italic
}


/* Comment.Preproc */

.highlight .cpf {
	color: #3e457b;
	font-style: italic
}


/* Comment.PreprocFile */

.highlight .c1 {
	color: #3e457b;
	font-style: italic
}


/* Comment.Single */

.highlight .cs {
	color: #3e457b;
	font-style: italic
}


/* Comment.Special */

.highlight .gd {
	color: #a40000
}


/* Generic.Deleted */

.highlight .ge {
	color: #000000;
	font-style: italic
}


/* Generic.Emph */

.highlight .gr {
	color: #ef2929
}


/* Generic.Error */

.highlight .gh {
	color: #000080;
	font-weight: bold
}


/* Generic.Heading */

.highlight .gi {
	color: #00A000
}


/* Generic.Inserted */

.highlight .go {
	color: #3e457b;
	font-style: italic
}


/* Generic.Output */

.highlight .gp {
	color: #8f5902
}


/* Generic.Prompt */

.highlight .gs {
	color: #000000;
	font-weight: bold
}


/* Generic.Strong */

.highlight .gu {
	color: #800080;
	font-weight: bold
}


/* Generic.Subheading */

.highlight .gt {
	color: #a40000;
	font-weight: bold
}


/* Generic.Traceback */

.highlight .kc {
	color: #ff8a8a;
	font-weight: bold
}


/* Keyword.Constant */

.highlight .kd {
	color: #ff6a43;
	font-weight: bold
}


/* Keyword.Declaration */

.highlight .kn {
	color: #ff6a43;
	font-weight: bold
}


/* Keyword.Namespace */

.highlight .kp {
	color: #204a87;
	font-weight: bold
}


/* Keyword.Pseudo */

.highlight .kr {
	color: #204a87;
	font-weight: bold
}


/* Keyword.Reserved */

.highlight .kt {
	color: #204a87;
	font-weight: bold
}


/* Keyword.Type */

.highlight .ld {
	color: #ffa256
}


/* Literal.Date */

.highlight .m {
	color: #0000cf;
	font-weight: bold
}


/* Literal.Number */

.highlight .s {
	color: #4e9a06
}


/* Literal.String */

.highlight .na {
	color: #c5ff68
}


/* Name.Attribute */

.highlight .nb {
	color: #7987ff
}


/* Name.Builtin */

.highlight .nc {
	color: #ff8a8a
}


/* Name.Class */

.highlight .no {
	color: #000000
}


/* Name.Constant */

.highlight .nd {
	color: #5c35cc;
	font-weight: bold
}


/* Name.Decorator */

.highlight .ni {
	color: #ce5c00
}


/* Name.Entity */

.highlight .ne {
	color: #cc0000;
	font-weight: bold
}


/* Name.Exception */

.highlight .nf {
	color: #d2a8ff
}


/* Name.Function */

.highlight .nl {
	color: #f57900
}


/* Name.Label */

.highlight .nn {
	color: #ffffff
}


/* Name.Namespace */

.highlight .nx {
	color: #000000
}


/* Name.Other */

.highlight .py {
	color: #000000
}


/* Name.Property */

.highlight .nt {
	color: #7987ff;
	font-weight: bold
}


/* Name.Tag */

.highlight .nv {
	color: #000000
}


/* Name.Variable */

.highlight .ow {
	color: #204a87;
	font-weight: bold
}


/* Operator.Word */

.highlight .w {
	color: #f8f8f8;
	text-decoration: underline
}


/* Text.Whitespace */

.highlight .mb {
	color: #0d51c3;
	font-weight: bold
}


/* Literal.Number.Bin */

.highlight .mf {
	color: #0d51c3;
	font-weight: bold
}


/* Literal.Number.Float */

.highlight .mh {
	color: #0d51c3;
	font-weight: bold
}


/* Literal.Number.Hex */

.highlight .mi {
	color: #0d51c3;
	font-weight: bold
}


/* Literal.Number.Integer */

.highlight .mo {
	color: #0d51c3;
	font-weight: bold
}


/* Literal.Number.Oct */

.highlight .sa {
	color: #4e9a06
}


/* Literal.String.Affix */

.highlight .sb {
	color: #4e9a06
}


/* Literal.String.Backtick */

.highlight .sc {
	color: #4e9a06
}


/* Literal.String.Char */

.highlight .dl {
	color: #97c7bb
}


/* Literal.String.Delimiter */

.highlight .sd {
	color: #4e9a06;
	font-style: italic
}


/* Literal.String.Doc */

.highlight .s2 {
	color: #97c7bb
}


/* Literal.String.Double */

.highlight .se {
	color: #97c7bb
}


/* Literal.String.Escape */

.highlight .sh {
	color: #97c7bb
}


/* Literal.String.Heredoc */

.highlight .si {
	color: #97c7bb
}


/* Literal.String.Interpol */

.highlight .sx {
	color: #97c7bb
}


/* Literal.String.Other */

.highlight .sr {
	color: #97c7bb
}


/* Literal.String.Regex */

.highlight .s1 {
	color: #97c7c3
}


/* Literal.String.Single */

.highlight .ss {
	color: #4e9a06
}


/* Literal.String.Symbol */

.highlight .bp {
	color: #3465a4
}


/* Name.Builtin.Pseudo */

.highlight .fm {
	color: #d2a8ff
}


/* Name.Function.Magic */

.highlight .vc {
	color: #d2a8ff
}


/* Name.Variable.Class */

.highlight .vg {
	color: #d2a8ff
}


/* Name.Variable.Global */

.highlight .vi {
	color: #ffffff
}


/* Name.Variable.Instance */

.highlight .vm {
	color: #ff8a8a
}


/* Name.Variable.Magic */

.highlight .il {
	color: #0000cf;
	font-weight: bold
}